body{
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
}

h1{
    color: rgb(14, 82, 36);
    background-color: rgb(230, 146, 167);
}

p {
    font-size: 20px;
    font-weight: 400S;
}

img {
    height: 200px;
    width: 200px; 
}

.abc {
    color: brown;
    background-color: aqua;S
}
